<div class="imagen">
    <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
        height="60" width="200" style="margin-left: 10%; margin-top: 1%;">
</div>

<body class="elemento">
    <div class="card">
        <h1>Listas</h1>
        <form class="buscar">
            <div class="contBuscar">
                <input class="form-control me-2" #buscar2 type="search" placeholder="Buscar Autor" aria-label="Buscar"
                    (keyup)="onKeydownEvent($event, buscar2.value)">
                <button class="btn" (click)="buscarAutor(buscar2.value)"> <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"></button>
                <button (click)="registroAutor()">Crear Autor</button>
            </div>
            <div class="contBuscar">
                <input class="form-control me-2" #buscar3 type="search" placeholder="Buscar Tipo" aria-label="Buscar"
                    (keyup)="onKeydownEvent($event, buscar3.value)">
                <button class="btn" (click)="buscarTipo(buscar3.value)"><img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c"></button>
                <button (click)="resgistroTipo() ">Crear Tipo</button>
            </div>
        </form>
        <div class="contenedor">
            <div class="tablas">
                <table class="table">
                    <thead class="cabezera">
                        <tr>
                            <th colspan="2">Autores</th>
                        </tr>
                    </thead>
                    <thead class="subcabezera">
                        <tr>
                            <th>ID</th>
                            <th>Nombres</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="buscarA==false">
                        <tr *ngFor="let autor of Autores">
                            <td>{{autor.id}}</td>
                            <td>{{autor.nombre}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="buscarA==true">
                        <tr *ngFor="let autor of Autores">
                            <td>{{autor.id}}</td>
                            <td>{{autor.nombre}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="tablas">
                <table class="table">
                    <thead class="cabezera">
                        <tr>
                            <th colspan="3">Tipos de Libros</th>
                        </tr>
                    </thead>
                    <thead class="subcabezera">
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody class="text-center" *ngIf="buscarT==false">
                        <tr *ngFor="let tipo of ttipos" >
                            <td>{{tipo.id}}</td>
                            <td>{{tipo.nombre}}</td>
                            <td *ngIf="tipo.activo==true; else elseBlock">Activo</td>
                            <ng-template #elseBlock>
                                <td>Inactivo</td>
                            </ng-template>
                        </tr>
                    </tbody>
                    <tbody class="text-center" *ngIf="buscarT==true">
                        <tr *ngFor="let tipo of ttipos" >
                            <td>{{tipo.id}}</td>
                            <td>{{tipo.nombre}}</td>
                            <td *ngIf="tipo.activo==true; else elseBlock">Activo</td>
                            <ng-template #elseBlock>
                                <td>Inactivo</td>
                            </ng-template>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>